<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>registro</servlet-name>
  	<display-name>registro</display-name>
  	<description></description>
  	<servlet-class>com.ejemplo.logica.registro</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginUser</servlet-name>
  	<display-name>loginUser</display-name>
  	<description></description>
  	<servlet-class>com.ejemplo.logica.loginUser</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>registro</servlet-name>
  	<url-pattern>/registro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginUser</servlet-name>
  	<url-pattern>/loginUser</url-pattern>
  </servlet-mapping>
</web-app>
